<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
  <title>Prototype  v1.7 API documentation | Element.Layout</title>
  <link charset="utf-8" href="../../../stylesheets/pdoc/api.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link charset="utf-8" href="../../../stylesheets/pdoc/pygments.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
  <body>
    <div id="page">
      <div id="main" class="page-content">
<ul class="breadcrumbs clearfix">
  <li><a href="../../../">Home</a></li>
    <li>&rarr; <a href="../../../dom/" title="DOM section">DOM</a></li>
    <li>&rarr; <a href="../../../dom/Element/" title="Element (class)">Element</a></li>
    <li>&rarr; <a href="../../../dom/Element/Layout/" title="Element.Layout (class)">Layout</a></li>
</ul>
<h2 class="page-title">
  <span class="type">class</span> Element.Layout
</h2>
  <p id="src_code_href"><a href="https://github.com/sstephenson/prototype/blob/1fb9728/src/dom/layout.js#L225">View source on GitHub &rarr;</a></p>
                <div class="section section-description">
                <div class="section-title">
                  <h3>Description</h3>
                </div> <!-- .section-title -->
                <div class="section-content">
    <p>A set of key/value pairs representing measurements of various
dimensions of an element.</p>
<h4>Overview</h4>
<p>The <code>Element.Layout</code> class is a specialized way to measure elements.
It helps mitigate:</p>
<ul>
<li>The convoluted steps often needed to get common measurements for
elements.</li>
<li>The tendency of browsers to report measurements in non-pixel units.</li>
<li>The quirks that lead some browsers to report inaccurate measurements.</li>
<li>The difficulty of measuring elements that are hidden.</li>
</ul>
<h4>Usage</h4>
<p>Instantiate an <code>Element.Layout</code> class by passing an element into the
constructor:</p>
<div class="highlight"><pre><span class="kd">var</span> <span class="nx">layout</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Element</span><span class="p">.</span><span class="nx">Layout</span><span class="p">(</span><span class="nx">someElement</span><span class="p">);</span>
</pre>
</div>
<p>You can also use <code><a href="../../../dom/Element/getLayout/" title="Element.getLayout (class method)">Element.getLayout</a></code>, if you prefer.</p>
<p>Once you have a layout object, retrieve properties using <code><a href="../../../language/Hash/" title="Hash (class)">Hash</a></code>'s
familiar <code>get</code> and <code>set</code> syntax.</p>
<div class="highlight"><pre><span class="nx">layout</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">&#39;width&#39;</span><span class="p">);</span>  <span class="c1">//-&gt; 400</span>
<span class="nx">layout</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">&#39;top&#39;</span><span class="p">);</span>    <span class="c1">//-&gt; 180</span>
</pre>
</div>
<p>The following are the CSS-related properties that can be retrieved.
Nearly all of them map directly to their property names in CSS. (The
only exception is for borders — e.g., <code>border-width</code> instead of
<code>border-left-width</code>.)</p>
<ul>
<li><code>height</code></li>
<li><code>width</code></li>
<li><code>top</code></li>
<li><code>left</code></li>
<li><code>right</code></li>
<li><code>bottom</code></li>
<li><code>border-left</code></li>
<li><code>border-right</code></li>
<li><code>border-top</code></li>
<li><code>border-bottom</code></li>
<li><code>padding-left</code></li>
<li><code>padding-right</code></li>
<li><code>padding-top</code></li>
<li><code>padding-bottom</code></li>
<li><code>margin-top</code></li>
<li><code>margin-bottom</code></li>
<li><code>margin-left</code></li>
<li><code>margin-right</code></li>
</ul>
<p>In addition, these "composite" properties can be retrieved:</p>
<ul>
<li><code>padding-box-width</code> (width of the content area, from the beginning of
the left padding to the end of the right padding)</li>
<li><code>padding-box-height</code> (height of the content area, from the beginning
of the top padding to the end of the bottom padding)</li>
<li><code>border-box-width</code> (width of the content area, from the outer edge of
the left border to the outer edge of the right border)</li>
<li><code>border-box-height</code> (height of the content area, from the outer edge
of the top border to the outer edge of the bottom border)</li>
<li><code>margin-box-width</code> (width of the content area, from the beginning of
the left margin to the end of the right margin)</li>
<li><code>margin-box-height</code> (height of the content area, from the beginning
of the top margin to the end of the bottom margin)</li>
</ul>
<h4>Caching</h4>
<p>Because these properties can be costly to retrieve, <code>Element.Layout</code>
behaves differently from an ordinary <code><a href="../../../language/Hash/" title="Hash (class)">Hash</a></code>.</p>
<p>First: by default, values are "lazy-loaded" — they aren't computed
until they're retrieved. To measure all properties at once, pass
a second argument into the constructor:</p>
<div class="highlight"><pre><span class="kd">var</span> <span class="nx">layout</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Element</span><span class="p">.</span><span class="nx">Layout</span><span class="p">(</span><span class="nx">someElement</span><span class="p">,</span> <span class="kc">true</span><span class="p">);</span>
</pre>
</div>
<p>Second: once a particular value is computed, it's cached. Asking for
the same property again will return the original value without
re-computation. This means that <strong>an instance of <code>Element.Layout</code>
becomes stale when the element's dimensions change</strong>. When this
happens, obtain a new instance.</p>
<h4>Hidden elements</h4>
<p>Because it's a common case to want the dimensions of a hidden element
(e.g., for animations), it's possible to measure elements that are
hidden with <code>display: none</code>.</p>
<p>However, <strong>it's only possible to measure a hidden element if its parent
is visible</strong>. If its parent (or any other ancestor) is hidden, any
width and height measurements will return <code>0</code>, as will measurements for
<code>top|bottom|left|right</code>.</p>
                </div> <!-- .section-content -->
            </div> <!-- .section -->
                  <div class="section section-superclass">
                <div class="section-title">
                  <h3>Superclass</h3>
                </div> <!-- .section-title -->
                <div class="section-content">
      <p><code><a href="../../../language/Hash/" title="Hash (class)">Hash</a></code></p>
                  </div> <!-- .section-content -->
            </div> <!-- .section -->
                <div class="section section-constructor">
                <div class="section-title">
                  <h3>Constructor</h3>
                </div> <!-- .section-title -->
                <div class="section-content">
    <p><code><a href="../../../dom/Element/Layout/new/" title="new Element.Layout (constructor)">new Element.Layout</a></code></p>
                </div> <!-- .section-content -->
            </div> <!-- .section -->
                  <div class="section section-instance_methods">
                <div class="section-title">
                  <h3>Instance methods</h3>
                </div> <!-- .section-title -->
                <div class="section-content">
      <ul class="method-list">
        <li><code><a class="instance-method" href="../../../dom/Element/Layout/prototype/get/" title="Element.Layout#get (instance method)">get</a></code></li>
<li><code><a class="instance-method" href="../../../dom/Element/Layout/prototype/toCSS/" title="Element.Layout#toCSS (instance method)">toCSS</a></code></li>
<li><code><a class="instance-method" href="../../../dom/Element/Layout/prototype/toHash/" title="Element.Layout#toHash (instance method)">toHash</a></code></li>
<li><code><a class="instance-method" href="../../../dom/Element/Layout/prototype/toObject/" title="Element.Layout#toObject (instance method)">toObject</a></code></li>
      </ul>
                  </div> <!-- .section-content -->
            </div> <!-- .section -->
                  <div class="section section-constants">
                <div class="section-title">
                  <h3>Constants</h3>
                </div> <!-- .section-title -->
                <div class="section-content">
      <ul class="method-list">
        <li><code><a class="constant" href="../../../dom/Element/Layout/COMPOSITE_PROPERTIES/" title="Element.Layout.COMPOSITE_PROPERTIES (constant)">COMPOSITE_PROPERTIES</a></code></li>
<li><code><a class="constant" href="../../../dom/Element/Layout/PROPERTIES/" title="Element.Layout.PROPERTIES (constant)">PROPERTIES</a></code></li>
      </ul>
                  </div> <!-- .section-content -->
            </div> <!-- .section -->
      </div> <!-- #main -->
      <div id="footer">
        <p><a href="http://prototypejs.org">Prototype JavaScript Framework</a> v1.7 API documentation.</p>
        <p>
            Last updated on November 16, 2010 at 10:11 UTC.
          Generated by <a href="http://pdoc.org">PDoc</a>.
          Uses <a href="http://famfamfam.com/lab/icons/silk/" title="famfamfam.com: Silk Icons">Silk Icons</a> and portions of <a href="http://github.com/280north/aristo/tree/master" title="280north's aristo at master - GitHub">Aristo</a>.
        </p>
        <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>.</p>
      </div> <!-- #footer -->
    </div> <!-- #page -->
  </body>
</html>
