<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
  <title>Prototype  v1.7 API documentation | Template#evaluate</title>
  <link charset="utf-8" href="../../../../stylesheets/pdoc/api.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link charset="utf-8" href="../../../../stylesheets/pdoc/pygments.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
  <body>
    <div id="page">
      <div id="main" class="page-content">
<ul class="breadcrumbs clearfix">
  <li><a href="../../../../">Home</a></li>
    <li>&rarr; <a href="../../../../language/" title="Language section">Language</a></li>
    <li>&rarr; <a href="../../../../language/Template/" title="Template (class)">Template</a></li>
    <li>&rarr; <a href="../../../../language/Template/prototype/evaluate/" title="Template#evaluate (instance method)">evaluate</a></li>
</ul>
<h2 class="page-title">
  <span class="type">instance method</span> Template#evaluate
</h2>
  <p id="src_code_href"><a href="https://github.com/sstephenson/prototype/blob/1fb9728/src/lang/template.js#L143">View source on GitHub &rarr;</a></p>
<div class="section">
  <div class="section-title">
  </div> <!-- .section-title -->
  <div class="section-content">
    <div class="method-description">
        <pre class="syntax"><code class="ebnf">Template#evaluate(object) &rarr; <a href="../../../../language/String/" title="String (class)">String</a></code></pre>
      <p>Applies the template to <code>object</code>'s data, producing a formatted string
with symbols replaced by <code>object</code>'s corresponding properties.</p>
<h5>Examples</h5>
<div class="highlight"><pre><span class="kd">var</span> <span class="nx">hrefTemplate</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Template</span><span class="p">(</span><span class="s1">&#39;/dir/showAll?lang=#{language}&amp;amp;categ=#{category}&amp;amp;lv=#{levels}&#39;</span><span class="p">);</span>
<span class="kd">var</span> <span class="nx">selection</span> <span class="o">=</span> <span class="p">{</span><span class="nx">category</span><span class="o">:</span> <span class="s1">&#39;books&#39;</span> <span class="p">,</span> <span class="nx">language</span><span class="o">:</span> <span class="s1">&#39;en-US&#39;</span><span class="p">};</span>
 <span class="nx">hrefTemplate</span><span class="p">.</span><span class="nx">evaluate</span><span class="p">(</span><span class="nx">selection</span><span class="p">);</span>
<span class="c1">// -&gt; &#39;/dir/showAll?lang=en-US&amp;amp;categ=books&amp;amp;lv=&#39;</span>
 <span class="nx">hrefTemplate</span><span class="p">.</span><span class="nx">evaluate</span><span class="p">({</span><span class="nx">language</span><span class="o">:</span> <span class="s1">&#39;jp&#39;</span><span class="p">,</span> <span class="nx">levels</span><span class="o">:</span> <span class="mi">3</span><span class="p">,</span> <span class="nx">created</span><span class="o">:</span> <span class="s1">&#39;10/12/2005&#39;</span><span class="p">});</span>
<span class="c1">// -&gt; &#39;/dir/showAll?lang=jp&amp;amp;categ=&amp;amp;lv=3&#39;</span>
 <span class="nx">hrefTemplate</span><span class="p">.</span><span class="nx">evaluate</span><span class="p">({});</span>
<span class="c1">// -&gt; &#39;/dir/showAll?lang=&amp;amp;categ=&amp;amp;lv=&#39;</span>
 <span class="nx">hrefTemplate</span><span class="p">.</span><span class="nx">evaluate</span><span class="p">(</span><span class="kc">null</span><span class="p">);</span>
<span class="c1">// -&gt; error !</span>
</pre>
</div>
    </div>
  </div> <!-- .section-content -->
</div> <!-- .section -->
      </div> <!-- #main -->
      <div id="footer">
        <p><a href="http://prototypejs.org">Prototype JavaScript Framework</a> v1.7 API documentation.</p>
        <p>
            Last updated on November 16, 2010 at 10:11 UTC.
          Generated by <a href="http://pdoc.org">PDoc</a>.
          Uses <a href="http://famfamfam.com/lab/icons/silk/" title="famfamfam.com: Silk Icons">Silk Icons</a> and portions of <a href="http://github.com/280north/aristo/tree/master" title="280north's aristo at master - GitHub">Aristo</a>.
        </p>
        <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>.</p>
      </div> <!-- #footer -->
    </div> <!-- #page -->
  </body>
</html>
